  <!-- AVIS -->
  <section class="avis">
    <div class="container">
      <h2>Avis clients</h2>
      <div class="avis-wrapper">
        <button class="arrow-btn">‹</button>
        <div class="avis-cards">
          <div class="avis-card" *ngFor="let a of [1,2,3,4]">
            <div class="avis-top">
              <span class="name">Pseudonyme</span>
              <span class="date">10/01/2025</span>
            </div>
            <div class="stars">
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star</i>
              <i class="material-icons">star_border</i>
            </div>
            <p class="comment">Commentaire</p>
          </div>
        </div>
        <button class="arrow-btn">›</button>
      </div>
    </div>
  </section>