<header class="header">
  <div class="header-container">
  <div class="logo">
  <a [routerLink]="['/home']" class="brand logo-link">
    Brick<span>+</span>
  </a>
</div>

    <nav class="nav">
      <a routerLink="/" class="active">Accueil</a>
     <div class="nav-item dropdown">
       <a routerLink="/boutique">Boutique</a>
       <div class="dropdown-menu">
         <a routerLink="/set-complet">Set complet</a>
         <a routerLink="/boutique/figurine">Figurines</a>
         <a routerLink="/boutique/vrac">Pieces et vrac</a>
         <a routerLink="/boutique/theme">Thèmes</a>
         <a routerLink="/boutique/nouveauté">Nouveautés</a>
       </div>
     </div>

      <a routerLink="/vendre">Vendre mes Lego</a>
      <a routerLink="/application">L’application</a>

      <div class="nav-item dropdown">
       <a routerLink="/about">À propos de Brick+</a>
       <div class="dropdown-menu">
         <a routerLink="/about/faq">FAQ/ Service Client</a>
         <a routerLink="/about/mention">Mentions légales</a>
         <a routerLink="/about/CGV">CGV (Conditions Générales de Vente)</a>
         <a routerLink="/about/retour">Retours et Remboursements</a>
         <a routerLink="/about/politique">Politique de confidentialité</a>
       </div>
     </div>
</nav>

    <div class="actions">
      <button class="icon-btn">
        <i class="material-icons">search</i>
      </button>
      <button class="icon-btn" [routerLink]="['/profile']">
  <i class="material-icons">person</i>
</button>

      <button class="icon-btn">
        <i class="material-icons">shopping_cart</i>
      </button>
    </div>
  </div>
</header>
