<header class="header">
  <div class="header-container">
    <div class="logo">
      <span class="brand">Brick<span>+</span></span>
    </div>
    <nav class="nav">
      <a routerLink="/" class="active">Accueil</a>
      <a routerLink="/boutique">Boutique</a>
      <a routerLink="/vendre">Vendre mes Lego</a>
      <a routerLink="/application">L’application</a>
      <a routerLink="/a-propos">À propos de Brick+</a>
    </nav>

    <div class="actions">
      <button class="icon-btn">
        <i class="material-icons">search</i>
      </button>
      <button class="icon-btn">
        <i class="material-icons">person</i>
      </button>
      <button class="icon-btn">
        <i class="material-icons">shopping_cart</i>
      </button>
    </div>
  </div>
</header>
