.header {
  width: 100%;
  height: 64px;
  background: #f2f2f2;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: 'Poppins', sans-serif;
}

.header-container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.logo {
  .logo-link {
  text-decoration: none; /* supprime le soulignement */
  color: inherit;        /* conserve la couleur du texte */
  cursor: pointer;       /* montre que c’est cliquable */
  display: inline-block; /* utile si tu veux des effets hover */
  transition: transform 0.2s; /* effet smooth */
}

.logo-link:hover {
  transform: scale(1.05); /* léger zoom au survol */
}
  .brand {
    font-weight: 600;
    font-size: 18px;
    color: #214e34;

    span {
      font-weight: 700;
    }
  }
}


.nav {
  display: flex;
  justify-content: center;
  gap: 28px;
  position: relative;

  .nav-item {
    position: relative;

    &.dropdown {
      cursor: pointer;

      .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: white;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 10px 0;
        min-width: 150px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        z-index: 10;

       a {
          display: block;
          padding: 8px 15px;
          color: #333;
          text-decoration: none;

        &:hover {
            background-color: #f5f5f5;
          }
        }
      }
       &:hover .dropdown-menu {
        display: block;
      }
    }
  }

  a {
    text-decoration: none;
    font-size: 13px;
    color: #000;
    position: relative;

    &.active::after {
      content: '';
      position: absolute;
      bottom: -18px;
      left: 0;
      width: 100%;
      height: 2px;
      background: #214e34;
    }

    &:hover {
      color: #214e34;
    }
  }
}

.actions {
  display: flex;
  gap: 14px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;

  i {
    font-size: 20px;
    color: #000;
  }

  &:hover i {
    color: #214e34;
  }
}

@media (max-width: 900px) {
  .nav {
    display: none;
  }
}
